plots/
old/
results/
tables/
testing_results/
training_results/
training_ann_results/
products/
CMASS*/
**/output
*.pyc
*.bak
*.ipynb_checkpoints
*.h5
*.sw*
*.dat
*.aux
*.synctex.gz
*.fdb_latexmk
*.fls
*.log
